svg.fa-fw {
    margin-top: 15px !important;
    color: #C5C7CD !important;
    height: 16px !important;
    width: 16px !important;
}

.navbar-search .input-group {
    min-width: 250px !important;
}

.topbar-search {
    padding-right: 28px;
}