.name-profile {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
}
.img-profile {
    height: 44px;
    width: 44px;
}