.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    background: #363740;
    text-align: center;
}

@media (min-width:768px) {
    .sidebar {
        width: 255px !important;
        text-align: center;
    }
}